[submodule "dinos"]
	path = dinos
	url = https://github.com/TheMightyGit/dinos
[submodule "losttheplot"]
	path = losttheplot
	url = https://github.com/TheMightyGit/losttheplot
[submodule "gp-rpg-gbj"]
	path = gp-rpg-gbj
	url = https://github.com/TheMightyGit/gp-rpg-gbj
[submodule "slideshow"]
	path = slideshow
	url = https://github.com/TheMightyGit/slideshow.git
[submodule "mrmotext"]
	path = mrmotext
	url = https://github.com/TheMightyGit/mrmotext.git
